node_modules/
# Mochawesome reports
mochawesome-report/
mochawesome.json
mochawesome.html

# Allure
allure-report/
allure-results/

# Cypress
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/downloads/
cypress/.cache/